@model StoreManagement.Web.Areas.BasicData.ViewModels.ProductViewModel

@{
    ViewBag.Title = "جزئیات کالا";
}

<h2>جزئیات</h2>

<div>
    
    <hr />
    <dl class="form-horizontal">
        <dt>
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })
        </dd>
        
        <dt>
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2"})
        </dt>

        <dd class="col-md-10">
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control col-md-10", @readonly = "readonly" } })
        </dd>

        <dt>
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class="control-label col-md-2"})
        </dt>

        <dd class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </dd>

        <dt>
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class="control-label col-md-2"})
        </dt>

        <dd class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </dd>

        <dt>
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class="control-label col-md-2"})
        </dt>

        <dd class="col-md-10">
            @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </dd>

    </dl>
</div>

<div class="col-md-offset-2 col-md-10">
    <br>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning btn-sm" })
</div>
<p> 
    @Html.ActionLink("بازگشت به لیست کالا", "list" )
</p>
