@model StoreManagement.Web.Areas.BasicData.ViewModels.EditCustomerViewModel

@{
    ViewBag.Title = "ویرایش مشتری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ویرایش مشتری</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Version)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { id = "firstname_box", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { id = "lastname_box", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { id = "phonenumber_box", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ذخیره" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<!--    -->

<div>
    <a href="javascript:void(0)" onclick="go_for_return();"> بازگشت به لیست مشتری </a>
</div>

<div id="dialog-confirm" style="display:none;" title="داداش داری اشتباه خارج میشی! ">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span> تغییرات از دست خواهد رفت آیا می خواهید خارج شوید؟ </p>
</div>

@section css{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<script type="text/javascript">

        var original = {};
        
        /////////////////////////////

        var fields = [
            'firstname',
            'lastname',
            'phonenumber',
        ];
        
        
        /////////////////////////////
        
        
        $(document).ready(function () {
            for (var i = 0; i < fields.length; i++) {
                original[fields[i]] = $('#' + fields[i] + '_box').val();
            }
        });

        function doc_changed() {
            var res = false;
            for (var x in original) {      // js for loops over keys not values,   nice :)
                if (original[x] != $('#' + x + '_box').val()) {
                    res = true;
                }
            }
            return res;
        }

        function go_for_return() {
            // if something is changed
            var changed = doc_changed();
            if (changed) {
                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    buttons: {
                        " حواسم هست ": function () {
                            $(this).dialog("close");
                            document.location = '../list';
                        },
                        " خوب شد گفتی ": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            }
            else {
                document.location = '../list';
            }
        }

</script>
}
