@using System.Collections.Generic;
@using StoreManagement.Framework.MetaData;

@{
    Type entityType = ViewBag.Type;
    Type viewModelType = MetaDataService.GetEntityInfo(entityType).DefaultViewModelType;
    string entityName = MetaDataHelper.GetDisplayName(viewModelType);
    var properties = MetaDataService.GetTypeDisplayProperties(viewModelType);
    long e_id = 0;
}
<h2>فهرست @entityName</h2>

<p>
    @Html.ActionLink(entityName + " جدید", "Create", entityType.Name, null, new { @class = "btn btn-success btn-sm" })
</p>

<table class="table">
    <tr>
        @foreach (var propInfo in properties)
        {
            <th>@propInfo.Item2</th>
        }
        <th></th>
    </tr>
    @foreach (var entity in ViewBag.List)
    {
        e_id = entity.Id;

        <tr id="tr_@e_id">
            @foreach (var propInfo in properties)
            {
                <td>
                    @viewModelType.GetProperty(propInfo.Item1).GetValue(entity)
                </td>
            }
            <td>

                <div>
                    @Html.ActionLink("جزئیات", "Details", new { Id = entity.Id }, new { @class = "btn btn-info btn-xs" })
                    @Html.ActionLink("ویرایش", "Edit", new { Id = entity.Id }, new { @class = "btn btn-warning btn-xs" })
                    <button onclick="delete_by_ajax(@e_id); " type="button" class="btn btn-danger btn-xs"> حذف  </button>
                </div>

            </td>
        </tr>
    }
</table>



<div id="dialog-confirm"  style="display:none;"  title="حذف موجودیت ">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span> آیا مطمئن هستید؟ </p>
</div>

@section css{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
}

@section scripts{

    <script src="~/Scripts/jquery-ui.min.js"></script>

    <script type="text/javascript">

        function delete_by_ajax(target_id) {

            $("#dialog-confirm").dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    " پاکش کن ": function () {
                        $(this).dialog("close");
                        $.ajax({
                            type: 'post',
                            url: '@Url.Action("Delete")',
                            data: {
                                id: target_id,
                            },
                            success: function () {
                                $('#tr_' + target_id).fadeOut(500);
                            }
                        });
                    },
                    " بیخیالش ": function () {
                        $(this).dialog("close");
                    }
                }
            });   

        }

    </script>
}
