@using System.Collections.Generic;
@using StoreManagement.Framework.MetaData;

@{
    Type entityType = ViewBag.Type;
    Type viewModelType = MetaDataService.GetEntityInfo(entityType).DefaultViewModelType;
    string entityName = MetaDataHelper.GetDisplayName(viewModelType);
    var properties = MetaDataService.GetTypeDisplayProperties(viewModelType);
    long e_id = 0;
}
<h2>فهرست @entityName</h2>

<p>
    @Html.ActionLink(entityName + " جدید", "Create", entityType.Name, null, new { @class = "btn btn-success btn-sm" })
</p>

<table class="table">
    <tr>
        @foreach (var propInfo in properties)
        {
            <th>@propInfo.Item2</th>
        }
    </tr>
    @foreach (var entity in ViewBag.List)
    {
        e_id = entity.Id;

        <tr id="tr_@e_id" >
            @foreach (var propInfo in properties)
            {
                <td>
                    @viewModelType.GetProperty(propInfo.Item1).GetValue(entity)
                </td>
            }
            <td>

                <div  >
                    @Html.ActionLink("جزئیات", "Details", new { Id = entity.Id }, new { @class = "btn btn-info btn-xs" })
                    @Html.ActionLink("ویرایش", "Edit", new { Id = entity.Id }, new { @class = "btn btn-warning btn-xs" })
                    @Html.ActionLink("حذف", "Delete", new { Id = entity.Id }, new { @class = "btn btn-danger btn-xs" })
                    <!--  turn these links into hand written ones to apply javascript  -->
                
                    <button onclick="delete_by_ajax(@e_id);" class="btn btn-danger btn-xs" > حذف با ایجکس </button>
                    <!--  turned links  -->
                </div>

            </td>
        </tr>
    }
</table>

<!--
<form id="hiddenForm" action="Delete">
    <input id="hiddenInput" />
    <!--  invisible  --
</form>
-->

@section scripts{
    <script type="text/javascript">

        function delete_by_ajax(target_id) {


            // not a nice job ! :(
            $('#tr_' + target_id).remove();

            $.ajax({    
                type: 'post',
                url: '@entityType.Name/Delete',
                data: {
                    id: $(target_id),
                },
                success: function () {
                    
                    $('#tr_' + target_id).remove();
                }
            });
        }

    </script>    
}
